body {
    background-color: rgb(214, 250, 214);
    font-family: Arial, sans-serif;
}

.formulario {
    background-color: rgb(42, 112, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 42%;
    border-radius: 10px;
    margin-top: 10%;
}

.formulario h2 {
    color: rgb(214, 250, 214);
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: -1%;
}

.formulario p {
    color: rgb(214, 250, 214);
    font-size: medium;
    justify-content: flex-start;
    margin-top: 10%;
}

.formulario a {
    color: rgb(214, 250, 214);
}

.formulario a:hover {
    color: rgb(174, 174, 174);
}

.formulario button {
    width: 70%;
    margin-top: 7%;
    color: rgb(42, 112, 42);
    background-color: rgb(214, 250, 214);
    padding: 2%;
    font-size: medium;
    border: 2px solid transparent;
    border-radius: 6px;
}

.formulario button:hover {
    color: rgb(214, 250, 214);
    background-color: rgb(42, 112, 42);
    border: 2px solid rgb(214, 250, 214);
    cursor: pointer;
}

.formulario input {
    display: flex;
    border-radius: 6px;
    border: none;
    width: 80%;
    padding: 4%;
    margin-top: -4%;
}

.tituloform {
    align-self: flex-start;
    margin-left: 7%;
}

.formulario input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.fraselogin{
    margin:auto 7%;
    margin-bottom: 10%;

}

.pagina{
    display: flex;
}