:root {
    --colorprime: rgb(42, 112, 42);
    --colorsec: rgb(214, 250, 214);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--colorsec);
    font-family: Arial, sans-serif;
}

.formulario {
    background-color: var(--colorprime);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 42%;
    border-radius: 10px;
    margin-top: 10%;
    padding: 1%;
}

.formulario h2 {
    color: var(--colorsec);
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: -1%;
}

.formulario p {
    color: var(--colorsec);
    font-size: medium;
    justify-content: flex-start;
    margin-top: 10%;
}

.formulario a {
    color: var(--colorsec);
}

.formulario a:hover {
    color: rgb(174, 174, 174);
}

.formulario button {
    width: 70%;
    margin-top: 7%;
    color: var(--colorprime);
    background-color: var(--colorsec);
    padding: 2%;
    font-size: medium;
    border: 2px solid transparent;
    border-radius: 6px;
}

.formulario button:hover {
    color: var(--colorsec);
    background-color: var(--colorprime);
    border: 2px solid var(--colorsec);
    cursor: pointer;
}

.formulario input {
    display: flex;
    border-radius: 6px;
    border: none;
    width: 80%;
    padding: 3%;
    margin-top: 1%;
}

.tituloform {
    align-self: flex-start;
    margin-left: 7%;
}

.formulario input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.fraselogin {
    margin: auto 7%;
    margin-bottom: 10%;

}

.pagina {
    display: flex;
}

.navbar {
    background-color: var(--colorprime);
    height: 100vh;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.opcoes {
    color: var(--colorsec);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.opcoes button {
    width: 100%;
    background-color: var(--colorprime);
    color: var(--colorsec);
    height: 100%;
    padding: 25px;
    font-style: bolder;
    font-size: larger;
}

.opcoes button:hover {
    color: var(--colorprime);
    background-color: var(--colorsec);
    cursor: pointer;
    transition: 0.3s;
}

.fotologo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--colorsec);
}

.fotologo:hover {
    cursor: pointer;
}

.sair {
    margin-bottom: 0%;
    color: var(--colorsec);
    width: 100%;
}

.sair button {
    width: 100%;
    background-color: var(--colorprime);
    color: var(--colorsec);
    height: 100%;
    padding: 25px;
    font-style: bolder;
    font-size: larger;
}

.sair button:hover {
    color: white;
    background-color: red;
    cursor: pointer;
    transition: 0.3s;
}

.conteudo {
    width: 80%;
}

.telainic {
    display: none;
}

.telapaciente {
    display: none;

    flex-direction: column;
    align-items: center;
    width: 100%;
}

.telapaciente button {
    align-self: flex-end;
    margin-right: 20%;
    margin-bottom: 1%;
    background-color: var(--colorprime);
    color: var(--colorsec);
    width: 2.5%;
    padding-block: 0.5%;
    border-radius: 6px;
    border: 2px solid transparent;
}

.telapaciente button:hover {
    color: var(--colorprime);
    background-color: var(--colorsec);
    cursor: pointer;
    border: 2px solid var(--colorprime);
}

.telapaciente h1 {
    color: var(--colorprime);
}

.telapaciente table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
}

.telapaciente td {
    padding: 1%;
    color: var(--colorprime);
    font-style: bolder;
}

.telapaciente th {
    padding: 1%;
    background-color: var(--colorprime);
    color: var(--colorsec);
    border-radius: 6px 6px 0 0;
}

.telapaciente tr:nth-child(odd) {
    background-color: rgb(147, 200, 147);
}

.telapaciente tr:nth-child(even) {
    background-color: rgb(186, 219, 186);
}

/*---------------------------------------------------------*/





.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Conteúdo do modal */
.modal-content {
    background-color: var(--colorsec);
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.cadastropac {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Inputs */
.inputM {
    width: 95%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastrocliente {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 5px;
    background: var(--colorprime);
    color: var(--colorsec);
    font-size: 16px;
    cursor: pointer;
}

.cadastrocliente:hover {
    background: var(--colorsec);
    color: var(--colorprime);
    border: 3px solid var(--colorprime)
}

.textareaM {
    width: 95%;
    height: 100px;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botaocad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulomodal {
    color: var(--colorprime);
}

.fonedata {
    display: flex;
    align-content: space-around;
    gap: 10px
}

.fonedata input {
    width: 44.5%;
}

.infoscm {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.modal-contentinfo {
    background-color: var(--colorsec);
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.modal-contentinfo h4 {
    color: var(--colorprime);
}
.modal-contentinfo p {
  font-size: small;
}

.ajustinfo {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.textinfoC{
    display: flex;
    margin-right: 3%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.botaoinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.infocliente {
    margin-top: 10px;
    width: 40%;
    padding: 6px;
    border: 3px solid transparent;
    border-radius: 5px;
    background: var(--colorprime);
    color: var(--colorsec);
    font-size: 15px;
    cursor: pointer;
}

.infocliente:hover {
    background: var(--colorsec);
    color: var(--colorprime);
    border: 3px solid var(--colorprime)
}

.infoclienteEXC:hover{
    background-color: red;
    color: white;
    border: solid transparent
}



    #preview {
      display: none;
      margin-top: 10px;
      max-width: 100%;
      border-radius: 5px;
    }