:root {
    --colorprime: rgb(42, 112, 42);
    --colorsec: rgb(214, 250, 214);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--colorsec);
    font-family: Arial, sans-serif;
}

.formulario {
    background-color: var(--colorprime);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 42%;
    border-radius: 10px;
    margin-top: 10%;
}

.formulario h2 {
    color: var(--colorsec);
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: -1%;
}

.formulario p {
    color: var(--colorsec);
    font-size: medium;
    justify-content: flex-start;
    margin-top: 10%;
}

.formulario a {
    color: var(--colorsec);
}

.formulario a:hover {
    color: rgb(174, 174, 174);
}

.formulario button {
    width: 70%;
    margin-top: 7%;
    color: var(--colorprime);
    background-color: var(--colorsec);
    padding: 2%;
    font-size: medium;
    border: 2px solid transparent;
    border-radius: 6px;
}

.formulario button:hover {
    color: var(--colorsec);
    background-color: var(--colorprime);
    border: 2px solid var(--colorsec);
    cursor: pointer;
}

.formulario input {
    display: flex;
    border-radius: 6px;
    border: none;
    width: 80%;
    padding: 4%;
    margin-top: -4%;
}

.tituloform {
    align-self: flex-start;
    margin-left: 7%;
}

.formulario input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.fraselogin {
    margin: auto 7%;
    margin-bottom: 10%;

}

.pagina {
    display: flex;
}

.navbar {
    background-color: var(--colorprime);
    height: 100vh;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.opcoes {
    color: var(--colorsec);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.opcoes button {
    width: 100%;
    background-color: var(--colorprime);
    color: var(--colorsec);
    height: 100%;
    padding: 25px;
    font-style: bolder;
    font-size: larger;
}

.opcoes button:hover {
    color: var(--colorprime);
    background-color: var(--colorsec);
    cursor: pointer;
    transition: 0.3s;
}

.fotologo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--colorsec);
}

.sair {
    margin-bottom: 0%;
    color: var(--colorsec);
    width: 100%;
}

.sair button {
    width: 100%;
    background-color: var(--colorprime);
    color: var(--colorsec);
    height: 100%;
    padding: 25px;
    font-style: bolder;
    font-size: larger;
}

.sair button:hover {
    color: white;
    background-color: red;
    cursor: pointer;
    transition: 0.3s;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.conteudo h1{
    color: var(--colorprime);
}